input {
  width :40%;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  color: black;
}
button {
  font-size: 20px;
  font-weight :bold;
  margin-top : 5px;
  color: rgb(90, 90, 227);	
  background-color: aqua;
}

.ng-touched.ng-valid {
  border: 3px green solid;
}

.ng-touched.ng-invalid {
  border: 3px red solid;
}

#info {
  margin-top: 20px;
}
