

body{
    font-size:16px;
    color:#fff;
    font-family: 'Merriweather', serif;
}
#header-nav{
    background-color:#CEFF33;
    border-radius:0;
    border:0;
}
.navbar-brand{
    padding-top:15px;
}
.navbar-brand h1{

    color:#000000;
    font-size:1.5em;
    font-weight:bold;
    font-shadow:1px 1px 1px #222;
    margin-top:0;
    margin-bottom:0;
    line-height:.55;
}
#nav-list{
    margin-top:10px;
}
#nav-list a{
    color:#951C49;
    text-align:center;
}
#nav-list a:hover{
    background:#0C684D;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}

#main-content {
    width: 92%;
    margin-bottom: 40px;
}
#main-content h2{
    font-size:2em;
    font-weight:bold;
    color:#000000;
    margin-top:30px;
    margin-bottom:50px;
}
#main-content h3{
    font-size:1.5em;
    font-weight:bold;
    color:#000000;
    margin-bottom: 1em;
}
#main-section{
    padding: 30px;
    background-color:#0C684D;

}